body {
  font-family: 'Montserrat', sans-serif;
  background-color: #a4f442;
}

.wrapper {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 2px solid black;
  margin-bottom: 0px;
}

.pat-chat {
  width: 250px;
}

.pat-chat .speech {
  width: 300px;
  margin-bottom: 10px;
}

.pat-chat .speech p {
  margin: 20px;
  font-family: 'Bangers', cursive;
  font-size: 23px;
}

.bubble {
  position:absolute;
  right: 30px;
  bottom: 110px;
  background: white;
  border-radius: 30px;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 1px black;
}

.bubble::after {
  content: "";
  width:0;
  position:absolute;
  display:block;
  left: -42px;
  bottom: 50px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 45px solid white;

}

button {
  background-color: #f14a0e;
  border: solid 2px white;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 0px 5px 10px 10px;
  font-family: 'Bangers', cursive;
  font-size: 18px;
  color: white;
}

button:hover {
  background-color: yellow;
  border: solid 2px black;
  color: black;
}


input.primary {
  height: 10px
}


input[type="submit"] {
  background-color: #f14a0e;
  border: solid 2px white;
  border-radius: 5px;
  padding: 15px 40px;
  margin: 0px 5px 10px 10px;

  font-family: 'Bangers', cursive;
  font-size: 18px;
  color: white;
}

input[type="submit"]:hover {
  background-color: yellow;
  border: solid 2px black;
  color: black;
}


h1 {
  font-size: 38px;
  margin-left: 10px;
}

h1.playlist {
  font-size: 30px
}


#new-song-form {
  background-color: #41f4c7;
  max-width: 600px;
  border: solid 2px white;
  border-radius: 5px;
  margin: 10px;
}


.image-container {
  width: 600px;
  height: 380px;
  position:relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

#greeting-button {
  float:left;
  position:absolute;
  right: 0px;
  bottom: 0px;
}



.form-item {
  margin: 10px;
}

.dance-selector {
  margin: 10px;
  padding-bottom: 10px;

}

fieldset {
  border-radius: 3px;
  margin-top: 20px;
}

fieldset p {
  font-size: 10px;
}

legend {
  font-size: 18px;
}

label.primary {
  display: block;
  /* margin:  ; */
}



.playlist-wrapper {
  background-color: #41f4c7;
  max-width: 600px;
  max-height: 500px;
  border: solid 2px white;
  border-radius: 5px;
  margin: 10px;
  overflow-y: scroll;
}


.playlist-song {
  background-color: #C7F6F5;
  border: solid 2px white;
  border-radius: 5px;
  margin: 10px 40px 5px 5px;
  padding: 10px;

}
p.playlist-song {
  font-size: 12px;
  border: transparent;
  margin: 0 0 0 0;
}
